@page
@model Meyah.Pages.pagina.Tareas.CreateModel
@{
    Layout = "../Shared/Diseño_Layout";
}


<h1 class="text-center">Registrar Tarea</h1>
<body>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form method="post">
            <div class="form-row">
                <div class=" col">
                    <label asp-for="tarea.descripcion" for="nombreProducto"><strong>Descripción:</strong></label>
                    <textarea asp-for="tarea.descripcion" class="form-control" rows="5" cols="20">Ingrese la descripción de la tarea</textarea>
                </div>
                <br />
            </div>

            <div class="form-row">
                <div class=" col">
                    <label asp-for="tarea.fechainicio"><strong>Fecha de Inicio:</strong></label>
                    <input asp-for="tarea.fechainicio" type="datetime-local" class="form-control" />
                    <span class="text-danger"></span>
                    <br />
                </div>

                <div class="col">
                    <label asp-for="tarea.fechaentrega"><strong>Fecha de Entrega:</strong></label>
                    <input asp-for="tarea.fechaentrega" type="datetime-local" class="form-control" />
                    <span class="text-danger"></span>
                    <br />
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label asp-for="tarea.pedidoId"><strong>Pedido:</strong></label><br />
                    <select class="custom-select  form-control" asp-for="tarea.pedidoId" asp-items="@(new SelectList(Model.pedidolist, "pedidoId", "pedidoId"))">
                        <option>Selecciona el Pedido</option>
                    </select>
                    <br />
                </div>

                <div class="col">
                    <label asp-for="tarea.empleadoId"><strong>Empleado:</strong></label><br />
                    <select class="custom-select  form-control" asp-for="tarea.empleadoId" asp-items="@(new SelectList(Model.empleadolist, "empleadoId", "nombreemp"))">
                        <option>Selecciona el Producto</option>
                    </select>
                    <br />
                </div>
            </div>

            <br />
            <br />
            <div class="col-md-5"></div>
                <button class="btn btn-success" type="submit" value="Agregar"> Agregar</button> |
                <button type="submit" class="btn btn-danger" asp-page="/pagina/Tareas/Index">Cancelar</button>
            <div class="col-md-5"></div>
            <!--
            <div class="col py-3 px-lg-5 border bg-light"> <button type="submit" class="btn btn-round btn-warning col-lg-3">Eliminar</button></div>
          <div class="col py-3 px-lg-5 border bg-light"><button type="submit" class="btn btn-round btn-danger col-lg-3">Cancelar</button></div>-->

        </form>
        <div class="col-md-3"></div>
    </div>
    
</body>
